
@media (max-width: 576px){

}


@media (max-width: 355px){
    .bc-links {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bc-links button {
        border-radius: 40px;
        font-size: 15px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;    
    }
}