
@media (min-width: 576px){
    .wrap {
        width: 250px;
        margin: 1px 15px 1px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (max-width: 754px){

    #img4 {
        width: 250px;
        margin: 20px 15px 5px 15px;
    }
}