
@media (max-width: 355px){
    .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .head h2 {
        font-family: 'Courier New', Courier, monospace;
        color: #c355ff;
        margin-bottom: 10px;
    }
    .no-underline {
        text-decoration: none;
    }

    .embossed-layer {
        background-color: aliceblue;
        border: 3px outset rgb(194, 201, 207);
        padding: 3px;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
    }

    .embossed-layer p {
        font-size: 12px;
    }

    .embossed-layer li {
        font-size: 12px;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-top: 20px;
        margin-bottom: 50px;
        justify-content: center;
    }

    #link-buttons {
        border: 2px outset #FAAFCC;
        background-color: #FFC8DC;
        border-radius: 3px;
        padding: 7px;
        min-width: 290px;
        padding: 8px;
    }

    .download {
        width: 280px;
    }
}